.post {
	max-width: 800px;
	background-color: white;
	position: relative; 
   }
   .up{
	   display: -webkit-inline-box;
	   display: -moz-inline-box;
	   padding: 15px;
	   width: 600px;    
   }
   .toplogo {
	   font-size: 2.5rem;
	   margin: 0 15px 0 0;
	   
   }
   .titlehtml{
	   padding: 0;
	   margin: 0px;
	   font-family: Arial, Helvetica, sans-serif;
	   
   }
   .menu{
	   float: right;
	   width: 96%;
	   text-align: right;
	   position: absolute;
	   font-size: 2rem;
	   
   }
   .logo{
	   /* float: right; */  
	   font-size: larger;
	 
   }
   .pic {
	   width: 100%;
	   height: 100%;
   }
   .displayicons{
	   padding: 3px;
	   margin: 15px;
	   font-size: 2rem;    
   }
   .fright {
	   float: right;
   }
   .iconos {
	   padding: 5px;
	   margin: 0;   
   }
   .iconos2 {
	   margin: 0;
	   padding: 0px;   
	   font-family: Arial, Helvetica, sans-serif; 
   }
   .text1{
	   padding: 5px;
	   margin: 0;
	   font-family: Arial, Helvetica, sans-serif;    
   }
   .text2 {
	   margin: 0;
	   padding: 0;
	   text-align: justify;    
   }